<div class="card-header">
          <h5 class="card-title">Добавить текстовый файл</h5>
</div>
    <div class="card-body">
  <form method="POST" action="{% url 'words:add_file' %}"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12">
      {{ form.as_p }}
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
  </form>
  {% if messages %}
  <div class="messages">
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
      <span style="color:red">{{ message }}</span>
    </div>
  {% endfor %}
  </div>
  {% endif %}

  <p class="py-1 mb-1">
  </p>
    </div>
